
<div class="container">

<h1>Resources</h1>

<table class="table table-hover">

  <thead class="thead-dark">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Long description</th>
    <th>Short description</th>
    <th>Created at</th>
    <th>Archived at</th>
    <th>Image url</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let resource of resources,index as i">

    <td>{{resource.id}}</td>
    <td>{{resource.name}}</td>
    <td>{{resource.longDescription}}</td>
    <td>{{resource.shortDescription}}</td>
    <td>{{resource.createdAt | date: 'dd/MM/yyyy'}}</td>
    <td>{{resource.archivedAt | date: 'dd/MM/yyyy'}}</td>
    <td>{{resource.imageUrl}}</td>

  </tr>
  </tbody>
</table>


<a [routerLink]="['/login']">Login</a>

</div>
